<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" href="/style.css" >
  </head>
  <body>
    <nav>
      <li><a href="/">Home</a></li>
    </nav>
    <h1>Rock Paper Scissors</h1>
    <%= yield %>
  </body>
</html
